
*.000
*.png
Barabasi_*.txt
ErdosRenyi_*.txt
RandomR_*.txt
Datos_*
Programas C/Tabla_Valores_TANH
Programas Python/Histograma_Ciclos
Programas C/Prueba_Double
Resumen_Semanal.pdf
Programas C/Clave Pública
Programas C/Clave SSH.txt
Programas C/Clave Privada.ppk
Programas Python/Prueba.txt
*.csv
*.00_N=1000_Gm=8_ID*
Programas Python/DilAct/ActividadAcumulada/Construccion_Red_N=1000
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=0_Iter=0
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=1_Iter=1
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=2_Iter=2
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=3_Iter=3
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=4_Iter=4
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=5_Iter=5
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=6_Iter=6
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=7_Iter=7
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=8_Iter=8
Programas Python/DRE/DinaReg/Barabasi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=9_Iter=9
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=0_Iter=0
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=1_Iter=1
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=2_Iter=2
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=3_Iter=3
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=4_Iter=4
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=5_Iter=5
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=6_Iter=6
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=7_Iter=7
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=8_Iter=8
Programas Python/DRE/DinaReg/Erdos-Renyi/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=9_Iter=9
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=0_Iter=0
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=1_Iter=1
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=2_Iter=2
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=3_Iter=3
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=4_Iter=4
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=5_Iter=5
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=6_Iter=6
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=7_Iter=7
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=8_Iter=8
Programas Python/DRE/DinaReg/RandomRegulars/Evolucion_Sistema_alfa=0.500_Cdelta=0.50_N=1000_Gm=8_ID=9_Iter=9
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=1
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=0
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=2
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=3
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=4
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=5
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=6
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=7
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=8
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=14
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=13
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=12
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=11
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=10
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=1
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=0
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.000_Cdelta=0.00_N=1000_Iter=9
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=9
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=8
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=7
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=6
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=5
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=4
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=3
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=2
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=14
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=13
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=12
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=11
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=10
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=1
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.50_N=1000_Iter=0
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=9
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=8
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=7
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=6
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=5
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=4
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=3
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=2
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=14
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=13
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=12
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=11
Programas Python/DilAct/DinaReg/Evolucion_Sistema_alfa=0.400_Cdelta=0.00_N=1000_Iter=10
